h1
{
    color: brown;
}

.divNome
{
    width: 50%;
    float: left;
}

.divAtaque
{
    width: 25%;
    float: left;
}

.divDano
{
    width: 25%;
    float: left;
}

.btnCalcular
{
    width: 100%;
}

.labelDoInput
{
    width: 30%;
}

.botaoAddPlayer
{
    width: 100%;
}